<html>
     <div id="card-{id}" class="iframe-card card shadow mb-2 rounded" style="height: 400px">
        <div class="card-header container">
                <div class="row align-items-center">
                    <div class="col-1">
                        <span id="star-{id}" onClick="voteClick(this)" class="fa vote-icon {checked}" data-toggle="tooltip" data-placement="bottom" title="Vote for this option.">&#xf087;</span>
                        <span class='vote-icon' id="num-votes-{id}">{num_votes}</span>
                    </div>
                    <div class="col-8 text-center">
                        <a href="{href}">
                            <div class="text-center adv-card-text"><h5>{title}</h5></div>
                        </a>
                    </div>
                    <div class="col text-center">
                        <div class="text-center"><font class="adv-card-light">posted by </font> <font class="adv-card-text">{user}</font><font class="adv-card-light"> {date}</font></div>
                    </div>
                  </div>
        </div>

         <div class="container">
             <div class="row">
                 {images_html}
             </div>
         </div>

         <div class="container">
             <div class="row">
                 {rooms_html}
             </div>
         </div>

         {delete}

        <div class="card-body text-center">
            <div class="form-group">
                <input id="comment" name="comment" type="text" class="form-control comment valid" placeholder="Leave a comment">
            </div>
        </div>
    </div>



     <!--{images_html}-->
<div style="line-height: 4px;"><br></div>
</html>