<html>
        <div class="history-card card shadow bg-white rounded">
            <!--<a href="{href}">-->


                <div class="card-body row align-items-center">
                    <div class="col-3">
                        <a href="{href}"><img class="history-img" src="{main}"></a>
                    </div>
                    <div class="col">
                        <a href="{href}"><p class="card-text my-center">{title}</p></a>
                    </div>
                </div>

            <!--</a>-->
        </div>

<div style="line-height: 4px;"><br></div>

</html>