:root {
    --main-color: #9fccff;
    --main-color-dark: #619fe6;
    --secondary-color: #ffdc9f;
    --tertiary-color: #ffac9f;
}



test-thing {
    color: var(--main-color);
}

.card-text {
    color: var(--main-color-dark);
}

.adv-card-text {
    color: var(--main-color-dark);
}


.adv-card-light {
    color: var(--main-color);
}

.fa-star {
    font-size: 10px;
    color: #999;
    padding: 10px;
}

.fa-star.checked {
    font-size: 17px;
    color: var(--secondary-color);
    padding: 10px;
}


#padding {
    line-height: 44px;
}

.card-spacing {
     line-height: 3px;
}

card {color:#FFFFFF;} !important
a.nav-link:hover {color:#F00F00; text-decoration:none;} !important

.navbar-text {
    color: white;
}

.navbar-default {
    background-color: var(--main-color);
} !important

.iframe-card {
    height: 400px;
}

.history-card {
    height: 100px
}

.options-card {
    visibility: hidden;
}

h4 {
    text-align: center;
}

.my-center {
    text-align: center;
}

.page-title {
    color: var(--main-color-dark);
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 2em;
    font-weight: 600;
    line-height: 1em;
}

.page-sub {
    color: grey;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1em;
}


.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
    background: var(--main-color);
    color: white;
    font-family: 'Open Sans', sans-serif;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: var(--main-color-dark);
}

#sidebar ul.components {
    padding: 20px;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

#sidebar ul li a {
    padding: 7px;
    font-size: 1.1em;
    display: block;
    border-radius: 8px;
    text-align: center;
}

#sidebar ul li a:hover {
    color: var(--main-color-dark);
    background: #fff;
}


#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}


@media (max-width: 768px) {
    #sidebar {
        margin-left; -250px;
    }

    #sidebar.active {
        margin-left 0;
    }
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}


.sidebar-a.current_group {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
    background: var(--main-color-dark)
}

.sidebar-a, .sidebar-a:hover, .sidebar-a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.active, .collapsible:hover {
    background-color: var(--secondary-color);
}

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: var(--main-color);
}

#sidebarCollapse {
    width: 40px;
    height: 40px;
    background: #fff;
    border: none;
}

#sidebarCollapse.active {

}

#sidebarCollapse span {
    width: 80%;
    height: 2px;
    margin: 1 auto;
    display: block;
    background: #555;
    transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
}

#sidebarCollapse span:first-of-type {
    /* rotate first one */
    transform: rotate(45deg) translate(2px, 2px);
}
#sidebarCollapse span:nth-of-type(2) {
    /* second one is not visible */
    opacity: 0;
}
#sidebarCollapse span:last-of-type {
    /* rotate third one */
    transform: rotate(-45deg) translate(1px, -1px);
}

#sidebarCollapse.active span {
    /* no rotation */
    transform: none;
    /* all bars are visible */
    opacity: 1;
    margin: 5px auto;
}

.my-checkbox {
    width: 25px;
    background-color: var(--main-color-dark);
    position: relative;
}

/**
 * Display the tick inside the checkbox
 */
.my-checkbox label:after {
    opacity: 0.2;
    content: '';
    position: absolute;
    width: 9px;
    height: 5px;
    background: transparent;
    top: 6px;
    left: 7px;
    border: 3px solid #333;
    border-top: none;
    border-right: none;

    transform: rotate(-45deg);
}

/**
 * Create the hover event of the tick
 */
.my-checkbox label:hover::after {
    opacity: 0.5;
}

/**
 * Create the checkbox state for the tick
 */
.my-checkbox input[type=checkbox]:checked + label:after {
    opacity: 1;
}

.index-content {
    align-items: center;
    justify-content: center;
}

.index-button {
    padding: 40px;
    margin: 10px 0;
}

.col-centered {
    margin: 0 auto;
}

.big-br {
    margin: 10px 0;
}