<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/index.css">
    <script src="../static/socket.io.min.js"></script>
    <!--<script src="https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css"></script>-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

    {% block head %} {% endblock %}

    <meta charset="UTF-8">
    <title>Together</title>

</head>

<body>

    <div class="wrapper">

        <!-- Sidebar -->
        <nav id="sidebar">
            <!--https://bootstrapious.com/p/bootstrap-sidebar-->
            <div class="sidebar-header center">
                <h4> <a class='navbar-link' href="{{url_for('index')}}">Together</a></h4>
            </div>

            <ul class="list-unstyled components">
                {% for cur_group in groups %}
                <li>
                    <a class="{{active_group_list[loop.index0]}} sidebar-a" href="{{ url_for('group_page', group_name=cur_group.name) }}"> {{cur_group.name}}</a>
                </li>
                {% endfor %}
            </ul>

            <div id="login-button-container">
                <span>
                {% if current_user.is_authenticated %}
                    Signed in as: <span id="username">{{ current_user.username }}</span>
                {% else %}
                <!--Nothing -->
                {% endif %}
                </span>
                <a class="btn active bg-light" href="{{url_for('press_switch_login')}}">
                    {% if current_user.is_authenticated %}
                    Log Out
                    {% else %}
                    Log In
                    {% endif %}
                </a>
            </div>

        </nav>


        <!--Content-->

        {% block button %} {% endblock %}

        <div class="container">
            <div class="row">
            {% block content %} {% endblock %}
            </div>
            <div class="row">
                {% with messages = get_flashed_messages() %}
                  {% if messages %}
                    <ul class=flashes>
                    {% for message in messages %}
                      <div class="center">{{ message }}</div>
                    {% endfor %}
                    </ul>
                  {% endif %}
                {% endwith %}
            </div>
        </div>



    </div>


</body>
</html>