{% extends 'base.html' %}


{% block head %}
<script src="../static/group.js"></script>
{% endblock %}


{% block bar %}
{% endblock %}

{% block button %}
    <button type="button" id="sidebarCollapse" class="navbar-btn">
        <!--Hamburger-->
        <span></span>
        <span></span>
        <span></span>
    </button>
{% endblock %}

{% block content %}
<!--Place for messages to go-->

    <!--Page Content-->
    <div id=content" class="center">

        <div class="container h-100" style="width: 1100px;">

            <div class="row">

                <div class="col">
                    <div>
                        <center class="page-title">{{ group.name }}</center>
                        <center class="page-sub">Members: {% for member in group.members %}{{member.username}}, {% endfor %}</center>
                    </div>

                    <br>

                    <!--<div class="form-check form-check-inline center">-->
                        <!--{% if sending %}-->
                            <!--<input class="my-checkbox" type="checkbox" id="send-history" checked value="option1" >-->
                        <!--{% else %}-->
                            <!--<input class="my-checkbox" type="checkbox" id="send-history" value="option1">-->
                        <!--{% endif %}-->
                        <!--<label class="form-check-label" for="send-history">Send Browsing to this Group. <font color="grey">Note you can only send browsing data to one group.</font></label>-->
                    <!--</div>-->

                    <div id="{{ group.name }}-links">

                        {% for message in group.messages_by_vote_count() %}
                            <div class="row">
                                <div class="col align-self-center">
                                {{ message.get_html(viewing_user=user) | safe}}
                                </div>
                            </div>
                        {% endfor %}

                        {% if group.messages|length < 1 %}
                            <h3 class="my-center">There doesn't appear to me anything shared with this group yet.</h3>
                            <div class="my-center">(Share your browsing history under Options -> Send Browsing to this Group)</div>
                        {% endif %}
                    </div>
                </div>

            </div>

        </div>
    </div>

<div id="delete-modal" class="delete-modal">
  <!-- Modal content -->
  <div class="delete-modal-content">
    <span class="delete-modal-close">&times;</span>
    <button type="button" class="btn btn-danger delete-button">Delete Link?</button>
  </div>
</div>

{% endblock %}
