{% extends 'base.html' %}


{% block head %}
<script src="../static/group.js"></script>
{% endblock %}


{% block bar %}
{% endblock %}

{% block button %}
    <button type="button" id="sidebarCollapse" class="navbar-btn">
        <!--Hamburger-->
        <span></span>
        <span></span>
        <span></span>
    </button>
{% endblock %}

{% block content %}
<!--Place for messages to go-->

    <!--Page Content-->
    <div id=content" class="center">

        <div class="container h-100" style="width: 1100px;">

            <div class="row">

                <div class="col">
                    <div>
                        <center class="page-title">{{ group.name }}</center>
                        <center class="page-sub">Members: {% for member in group.members %}{{member.username}}, {% endfor %}</center>
                    </div>

                    <br>

                    <!--<button class="collapsible">Options</button>-->
                    <center>
                        <button id="myOptionsButton" class="myOptionsButton btn btn-primary btn-sm center" type="button" aria-expanded="false">
                            Options
                        </button>
                    </center>

                    <div class="card options-card mb-3">
                        <div class="form-check form-check-inline center">
                            {% if sending %}
                                <input class="my-checkbox" type="checkbox" id="send-history" checked value="option1" >
                            {% else %}
                                <input class="my-checkbox" type="checkbox" id="send-history" value="option1">
                            {% endif %}
                            <label class="form-check-label" for="send-history">Send Browsing to this Group. <font color="grey">Note you can only send browsing data to one group.</font></label>
                        </div>


                        <div class="form-check form-check-inline center">
                            {% if starred %}
                                <input class="my-checkbox" type="checkbox" id="starred" checked value="option1" >
                            {% else %}
                                <input class="my-checkbox" type="checkbox" id="starred" value="option1">
                            {% endif %}
                            <label class="form-check-label" for="starred">Show Starred</label>
                        </div>
                    </div>

                    <div id="{{ group.name }}-links">

                        {% for message in group.messages %}
                            {{ message.get_html(viewing_user=user) | safe}}
                        {% endfor %}

                        {% if group.messages|length < 1 %}
                            <h3 class="my-center">There doesn't appear to me anything shared with this group yet.</h3>
                            <div class="my-center">(Share your browsing history under Options -> Send Browsing to this Group)</div>
                        {% endif %}
                    </div>
                </div>

            </div>

        </div>
    </div>
{% endblock %}
