
{% extends 'base.html' %}


{% block content %}
<!--Place for messages to go-->


<div class="container index-content" style="width: 1100px;">

    {% if groups.count() > 0 %}

    <br class="big-br">

    <div class="row">
        <div class="col-centered">
            <a class="index-button btn btn-primary" href="{{ url_for('new_group') }}" role="button">Create a New Group</a>
            <a class="index-button btn" href="{{ url_for('history') }}" role="button">View Your Browsing History</a>
        </div>
    </div>
    {%else %}

    <center>
        <h3>Welcome to <i>Browse Together!</i> You don't appear to be in any groups. Why don't you create one?</h3>
        <a class="btn btn-primary" href="{{ url_for('new_group') }}" role="button">Create a Group</a>
    </center>

    {% endif %}

</div>
<!--<iframe id="my-frame" allow-same-origin src="https://google.com"></iframe>-->

{% endblock %}
