
{% extends 'base.html' %}


{% block content %}
<!--Place for messages to go-->




<div class="container index-content" style="width: 1100px;">


    <br class="big-br">

    <h3 class="page-message" style="color: var(--main-color-dark)">You are now Together.</h3>

    <div class="row index-buttons">
        <div class="col-centered">
            <a class="index-button index-button-left" href="{{ url_for('new_group') }}" role="button">Create a New Group</a>
            <a class="index-button" href="{{ url_for('history') }}" role="button">View Your Browsing History</a>
        </div>
    </div>

    {% if groups.count() < 1 %}

    <h3 class="main-page-message2">Let's start.</h3>

    {% endif %}

</div>
<!--<iframe id="my-frame" allow-same-origin src="https://google.com"></iframe>-->

{% endblock %}
