{% extends 'base.html' %}

{% block content %}
<!--Place for messages to go-->


<!--<style>-->

<!--.page-content {-->
  <!--position: fixed;-->
  <!--left: 0;-->
  <!--right: 0;-->
  <!--z-index: 0;-->
<!--}-->

<!--.page-content:before {-->
    <!--content: "";-->
    <!--position: fixed;-->
    <!--left: 0;-->
    <!--right: 0;-->
    <!--z-index: -1;-->
    <!--display: block;-->
    <!--background-image: url(../static/images/background.jpeg);-->
    <!--height: 1000px;-->
<!--}-->

<!--</style>-->


<div class="container" style="width: 1100px;">

    <div class="row align-self-center">
        <div class="col">
            <a href="{{ url_for('register') }}" class="main-page-title">Together</a>
        </div>
    </div>

    <div class="row align-self-center">
        <div class="col">
            <div class="main-page-message">A new, collaborative way to plan your next trip.</div>
        </div>
    </div>


</div>
<!--<iframe id="my-frame" allow-same-origin src="https://google.com"></iframe>-->

{% endblock %}
