{% extends 'base.html' %}

{% block content %}

{% from "_formhelpers.html" import render_field %}

<div class="login-container container">
    <div class="row">

    <div class="col">
        <h3>Log In</h3>
    <form method=post action="{{ url_for('login') }}">
      <dl>
        {{ render_field(form.username, class='form-control') }}
        {{ render_field(form.password, class='form-control') }}
      </dl>
      <p><input class='btn btn-dark' type=submit value="Log In">
    </form>
    </div>

      <div class="col">
        <h3>Register</h3>
        <form method=post>
          <dl>
            {{ render_field(form.username, class='form-control') }}
            {{ render_field(form.password, class='form-control') }}
            {{ render_field(form.confirm, class='form-control') }}
            {{ render_field(form.accept_tos, class='radio') }}
          </dl>
          <p><input class='btn btn-dark' type=submit value=Register>
        </form>
        </div>

    </div>
</div>



{% endblock %}